<h1>gux-tabs-beta</h1>

<h2>Example 1</h2>

<gux-tabs-beta
  id="interactive"
  allow-sort="true"
  show-new-tab-button="true"
  tab-limit="10"
>
  <gux-tab-beta tab-id="9">
    <span slot="title"> Hello 1 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="10">
    <span slot="title"> Hello 2 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="11">
    <span slot="title"> Hello 3 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="12">
    <span slot="title"> Hello 4 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="13">
    <span slot="title"> Hello 5 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="14">
    <span slot="title"> Hello 6 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="15">
    <span slot="title"> Hello 7 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="16">
    <span slot="title"> Hello 8 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="17">
    <span slot="title"> Hello 9 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="18">
    <span slot="title"> Hello 10 </span>
  </gux-tab-beta>
</gux-tabs-beta>

<h2>Example 2</h2>

<gux-tabs-beta
  id="interactive2"
  allow-sort="true"
  show-new-tab-button="true"
  tab-limit="10"
>
  <gux-tab-beta tab-id="19">
    <span slot="title"> Hello 1 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="20">
    <span slot="title"> Hello 2 </span>
  </gux-tab-beta>
  <gux-tab-beta tab-id="21">
    <span slot="title"> Hello 3 </span>
  </gux-tab-beta>
</gux-tabs-beta>
